
body{
    background-color: rgb(253, 253, 253);
}
header>nav{
    padding: 30px;
}

header>nav>img{
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
    padding: 30px;
    background-color: rgb(19, 54, 53);
    border-radius: 50%;
}
main>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: italic;
    color: rgb(7, 182, 159);
    text-align: center;
}
main{
    text-align: center;
}
/*botao*/
.principal{
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(19, 54, 53);
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    border-style: none;
    transition: background-color 0.3s ease;

}
button{
    margin: 20px;
    width: 120px;
    height: 45px;
    background-color: rgb(241, 241, 241);
    color: rgb(7, 7, 7);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    border-style: none;
    transition: background-color 0.3s ease;
}
/**/
::placeholder{
    text-align: center;
}


#habitInput{
    text-align: center;
    padding: 4px;
    font-weight: lighter;
}
input{
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
.habit-done{
    background-color: rgb(10, 214, 146);
}
span{
     background-color: aliceblue;
     border-radius: 8px;
     padding: 8px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: lighter;
     font-size: 20px;
     text-transform: uppercase;

}
#habitList {
  list-style-type: none;
  color: rgb(2, 2, 2);
  padding: 0;
  margin: auto;
  background-color: rgb(32, 151, 155);
  border-radius: 10px;
  max-width: 1200px;

}