

body{
    background-color: rgb(253, 253, 253);
}
/*sessão 1 */
header>nav{
    padding: 30px;
}

header>nav>img{
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
    padding: 30px;
    background-color: rgb(19, 54, 53);
    border-radius: 50%;
}
main>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    color: rgb(7, 182, 159);
    text-align: center;
}
main{
    text-align: center;
}
/*botao*/
#btnAdicionarHabito{
    margin: 20px;
    width: 180px;
    height: 50px;
    background-color: rgb(19, 54, 53);
    color: white;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    border-style: none;
    transition: background-color 0.3s ease;

}


#habitInput{
    text-align: center;
}
#habitInput::placeholder{
    text-align: center;
    text-transform: uppercase;
}
button{
    margin: 20px;
    width: 120px;
    height: 45px;
    background-color: rgb(241, 241, 241);
    color: rgb(7, 7, 7);
    font-size: 16px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    border-style: none;
    transition: background-color 0.3s ease;
}

::placeholder{
    text-align: center;
}
input{
    padding: 4px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

/*animações*/
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.botao-categoria {
  animation: fadeBounce 0.5s ease-in-out;
  display: inline-block;
  margin: 6px;
  font-size: 1rem;
  width: 300px;
  color: white;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1a4c55;
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter ;
  transition: background-color 0.6s ease;
}

.botao-categoria:hover {
  background-color: rgb(7, 182, 159);
  border-radius: 40px;
  transition: all 0.8s ease;
  
}
.sub{
  text-align: center;
  font-weight: 600;
  margin-top: 140px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  position: static;
  font-style: italic;
  color: rgb(4, 107, 95);
  background-color: #d3ece9;
  padding: 20px;
  width: auto;
  border-radius: 20px;
  
  
}

@keyframes textoFadeScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#btnAdicionarHabito {
  transition: all 0.4s ease;
  
}
#btnAdicionarHabito.mudou {
  background-color: #04a1a7; /* nova cor após trocar texto */
  transform: scale(1.0);    /* leve efeito de impulso opcional */
}

#btnAdicionarHabito.mudou {
  animation: textoFadeScale 0.4s ease-in-out;
  
}
#resultado{
  margin: auto;
}
.efeito-contracao .botao-categoria {
  transition: all 0.8s ease;
}
.efeito-contracao.escondendo .botao-categoria {
  opacity: 0;
  transform: scale(0.4);
}
.habitoFinal{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  max-width: 1000px;
  text-transform: uppercase;
  margin: auto;
  
  
}
strong{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  color: rgb(0, 255, 115);
  background-color: aquamarine;
  height: 5px;
  border-radius: 20px;
  border-color: aquamarine;
}
/*fim*/


/*sessão 2 do app*/
.info-habito{
  text-align: center;
  justify-content: space-evenly; /* separa conteúdo e botão */
  align-items: center;
  flex-wrap: wrap; /* quebra linha se necessário */
  background-color: #2f8f7f;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  width: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
 .btn-excluir{
      background-color: #ffffff;
      text-align: center;
    }
    span{
     background: #c6fdff;
     color: rgb(29, 29, 29);
     padding: 4px;
    }
   .botao-remover-todos {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  font-weight: bold;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  max-width: 300px;
}
 
.titulo-carrossel{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 100px;
    color: rgb(2, 29, 24);
    text-align: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.26);
}
/*carrossel*/
.faixa {
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: left;
  justify-content: left;
}

#corrida {
  background-image: url('kipchoge.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 350px;
  width: 100%;

  
}

#natacao {
  background-image: url('stretch1_phelps2.jpg');
   background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 350px;
  width: 100%;
}

#bike {
  background-image: url('pogacar.jpg');
   background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 350px;
  width: 100%;
}

.texto-faixa {
  color: white;
  text-align: left;
  background-image: linear-gradient(to right ,rgba(10, 10, 10, 0.747) 30% , rgba(0, 0, 0, 0) 50%); /* leve escurecimento atrás do texto */
  padding: 10px;
  max-width: 100%;
}

.texto-faixa h1 {
  font-size: 2rem;
  margin: 0;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-style: italic;
}

.texto-faixa p {
  font-size: 1rem;
  padding: 30px;
  margin-top: 0.5rem;
}
.parte{
  background-color: #2f8f7f;
  width: 500px;
  height: 500px;
  margin-top: 400px;

}